
<div class="container-fluid" style="position: relative; width: 100%;">
    <mat-dialog-content>
        <h2>Voulez vous vraiment supprimer ce projet?</h2>
    </mat-dialog-content>
    <div style="position: relative;">
        <mat-dialog-actions>
            <button class="btn btn-danger" (click)="delete()" mat-dialog-close style="margin-right: 40px; margin-left: 80px;">Supprimer</button>
            <button class="btn btn-primary" mat-dialog-close>Annuler</button>
        </mat-dialog-actions>
    </div>
</div>